modules/module.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="module" type="moduleType"/>
  <xs:complexType name="propertiesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="steadystate" use="optional"/>
        <xs:attribute type="xs:byte" name="harmonic" use="optional"/>
        <xs:attribute type="xs:byte" name="transient" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="generalType">
    <xs:sequence>
      <xs:element name="description">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="propertiesType" name="properties"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="itemType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="analysisType" name="harmonic"/>
	  <xs:element type="analysisType" name="transient"/>
      <xs:element type="analysisType" name="steadystate"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:float" name="value" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="shortname" use="optional"/>
    <xs:attribute type="xs:string" name="unit" use="optional"/>
    <xs:attribute type="xs:byte" name="scalar" use="optional"/>
    <xs:attribute type="xs:short" name="default" use="optional"/>
  </xs:complexType>
  <xs:complexType name="constantsType" mixed="true">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="materialType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="itemType" name="item"/>
      <xs:element type="analysisType" name="harmonic"/>
      <xs:element type="analysisType" name="steadystate"/>
      <xs:element type="analysisType" name="transient"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="weakformType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="i" use="optional"/>
        <xs:attribute type="xs:byte" name="j" use="optional"/>
        <xs:attribute type="xs:string" name="planar" use="optional"/>
        <xs:attribute type="xs:string" name="axi" use="optional"/>
        <xs:attribute type="xs:byte" name="symmetric" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="essentialType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="i" use="optional"/>
        <xs:attribute type="xs:string" name="planar" use="optional"/>
        <xs:attribute type="xs:string" name="axi" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="boundaryType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="itemType" name="item"/>
      <xs:element type="essentialType" name="essential"/>
      <xs:element type="weakformType" name="matrix"/>
      <xs:element type="weakformType" name="vector"/>
      <xs:element type="analysisType" name="harmonic"/>
      <xs:element type="analysisType" name="steadystate"/>
      <xs:element type="analysisType" name="transient"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="localvariableType">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="scalarvariableType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="analysisType" name="harmonic"/>
      <xs:element type="analysisType" name="transient"/>             
      <xs:element  type="analysisType" name="steadystate"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="vectorvariableType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="analysisType" name="harmonic"/>
      <xs:element type="analysisType" name="transient"/>             
      <xs:element type="analysisType" name="steadystate"/>
      <xs:element type="itemType" name="item"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="viewType">
    <xs:sequence>
      <xs:element type="scalarvariableType" name="scalarvariable"/>
      <xs:element type="vectorvariableType" name="vectorvariable"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pointvalueType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="analysisType" name="harmonic"/>
      <xs:element type="analysisType" name="transient"/>      
      <xs:element type="analysisType" name="steadystate"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="volumeintegralType">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="surfaceintegralType">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="moduleType">
    <xs:sequence>
      <xs:element type="generalType" name="general"/>
      <xs:element type="constantsType" name="constants"/>
      <xs:element type="materialType" name="material"/>
      <xs:element type="boundaryType" name="boundary"/>
      <xs:element type="localvariableType" name="localvariable"/>
      <xs:element type="viewType" name="view"/>
      <xs:element type="pointvalueType" name="pointvalue"/>
      <xs:element type="volumeintegralType" name="volumeintegral"/>
      <xs:element type="surfaceintegralType" name="surfaceintegral"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="analysisType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element type="materialType" name="material" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="weakformType" name="matrix" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="weakformType" name="vector" maxOccurs="unbounded" minOccurs="0"/>      
      <xs:element type="boundaryType" name="boundary" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="default" use="optional"/>
    <xs:attribute type="xs:string" name="planar_scalar" use="optional"/>
    <xs:attribute type="xs:string" name="axi_scalar" use="optional"/>
    <xs:attribute type="xs:string" name="planar_comp_x" use="optional"/>
    <xs:attribute type="xs:string" name="planar_comp_y" use="optional"/>
    <xs:attribute type="xs:string" name="axi_comp_r" use="optional"/>
    <xs:attribute type="xs:string" name="axi_comp_z" use="optional"/>
    <xs:attribute type="xs:string" name="planar" use="optional"/>
    <xs:attribute type="xs:string" name="axi" use="optional"/>
  </xs:complexType>
</xs:schema>