resources/xsd/problem_a2d_21_xml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xsd:element name="document">
    <xsd:complexType>
      <xsd:all>
        <xsd:element name="geometry">
          <xsd:complexType>
            <xsd:all>
              <xsd:element name="nodes">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="node">
                      <xsd:complexType>
                        <xsd:attribute name="x" type="xsd:float" />
                        <xsd:attribute name="y" type="xsd:float" />
                        <xsd:attribute name="id" type="xsd:int" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="edges">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="edge">
                      <xsd:complexType>
                        <xsd:attribute name="end" type="xsd:int" />
                        <xsd:attribute name="id" type="xsd:int" />
                        <xsd:attribute name="start" type="xsd:int" />
                        <xsd:attribute name="angle" type="xsd:float" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="labels">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="label">
                      <xsd:complexType>
                        <xsd:attribute name="x" type="xsd:float" />
                        <xsd:attribute name="y" type="xsd:float" />
                        <xsd:attribute name="id" type="xsd:int" />
                        <xsd:attribute name="area" type="xsd:float" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:all>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="problem">
          <xsd:complexType>
            <xsd:all>
              <xsd:element name="description" type="xsd:string" />
              <xsd:element name="startup_script" type="xsd:string" />
              <xsd:element name="fields">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element minOccurs="1" name="field">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="refinement">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="unbounded" name="edges">
                                  <xsd:complexType>
                                    <xsd:attribute name="edge" type="xsd:int" />
                                    <xsd:attribute name="refinement" type="xsd:int" />
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="unbounded" name="labels">
                                  <xsd:complexType>
                                    <xsd:attribute name="label" type="xsd:int" />
                                    <xsd:attribute name="refinement" type="xsd:int" />
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="polynomial_order">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="unbounded" name="label">
                                  <xsd:complexType>
                                    <xsd:attribute name="label" type="xsd:int" />
                                    <xsd:attribute name="refinement" type="xsd:int" />
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="adaptivity">
                            <xsd:complexType>
                              <xsd:attribute name="adaptivity_tolerance" type="xsd:float" />
                              <xsd:attribute name="adaptivity_type" type="xsd:string" />
                              <xsd:attribute name="adaptivity_steps" type="xsd:int" />
                              <xsd:attribute name="max_dofs" type="xsd:int" />
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="solver">
                            <xsd:complexType>
                              <xsd:attribute name="nonlinear_tolerance" type="xsd:string" />
                              <xsd:attribute name="nonlinear_steps" type="xsd:int" />
                              <xsd:attribute name="linearity_type" type="xsd:string" />
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="boundaries">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="boundary" minOccurs="0" maxOccurs="unbounded" >
                                  <xsd:complexType>
                                        <xsd:sequence>
                                                <xsd:element name="edge"
                                                        minOccurs="0"
                                                        maxOccurs="unbounded">
                                                        <xsd:complexType>
                                                                <xsd:attribute
                                                                        name="edge" type="xsd:int" />
                                                        </xsd:complexType>
                                                </xsd:element>
                                        </xsd:sequence>
                                        <xsd:attribute name="type" type="xsd:string" />
                                        <xsd:attribute name="id" type="xsd:int" />
                                        <xsd:attribute name="name" type="xsd:string" />
                                        <xsd:anyAttribute processContents="lax"/>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="materials">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="material" minOccurs="0" maxOccurs="unbounded" >
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="label" minOccurs="0" maxOccurs="unbounded" >
                                        <xsd:complexType>
                                          <xsd:attribute name="label" type="xsd:int" />
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                        <xsd:attribute name="id" type="xsd:int" />
                                        <xsd:attribute name="name" type="xsd:string" />
                                    <xsd:anyAttribute processContents="lax"/>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="field_id" type="xsd:string" />
                        <xsd:attribute name="number_of_refinements" type="xsd:int" />
                        <xsd:attribute name="analysis_type" type="xsd:string" />
                        <xsd:attribute name="polynomial_order" type="xsd:int" />
                        <xsd:attribute name="weak_forms" type="xsd:string" />
                        <xsd:attribute name="initial_condition" type="xsd:float" />
                        <xsd:attribute name="time_steps_skip" type="xsd:int" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="couplings">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="coupling" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:attribute name="name" type="xsd:string" />
                        <xsd:attribute name="type" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:all>
            <xsd:attribute name="coordinate_type" type="xsd:string" />
            <xsd:attribute name="frequency" type="xsd:int" />
            <xsd:attribute name="matrix_solver" type="xsd:string" />
            <xsd:attribute name="time_total" type="xsd:float" />
            <xsd:attribute name="mesh_type" type="xsd:string" />
            <xsd:attribute name="time_step" type="xsd:float" />
            <xsd:attribute name="name" type="xsd:string" />
            <xsd:attribute name="date" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
      </xsd:all>
      <xsd:attribute name="version" type="xsd:decimal" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
