resources/xsd/problem_a2d_31_xml.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema targetNamespace="XMLProblem" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:coupling="XMLProblem">
  <element name="document">
    <complexType>
      <all>
        <element name="geometry">
          <complexType>
            <all>
              <element name="nodes">
                <complexType>
                  <sequence>
                    <element maxOccurs="unbounded" name="node">
                      <complexType>
                        <attribute name="id" type="int" use="required"/>
                        <attribute name="x" type="float" use="required"/>
                        <attribute name="y" type="float" use="required"/>
                      </complexType>
                    </element>
                  </sequence>
                </complexType>
              </element>
              <element name="edges">
                <complexType>
                  <sequence>
                    <element maxOccurs="unbounded" name="edge">
                      <complexType>
                        <attribute name="id" type="int" use="required"/>
                        <attribute name="start" type="int" use="required"/>
                        <attribute name="end" type="int" use="required"/>
                        <attribute name="angle" type="float" use="required"/>
                        <attribute name="segments" type="int"/>                        
                        <attribute name="is_curvilinear" type="int"/>   
                      </complexType>
                    </element>
                  </sequence>
                </complexType>
              </element>
              <element name="labels">
                <complexType>
                  <sequence>
                    <element maxOccurs="unbounded" name="label">
                      <complexType>
                        <attribute name="id" type="int" use="required"/>
                        <attribute name="x" type="float" use="required"/>
                        <attribute name="y" type="float" use="required"/>
                        <attribute name="area" type="float" use="required"/>
                      </complexType>
                    </element>
                  </sequence>
                </complexType>
              </element>
            </all>
          </complexType>
        </element>
        <element name="problem">
          <complexType>
            <all>
              <element name="fields">
                <complexType>
                  <sequence>
                    <element minOccurs="0" maxOccurs="unbounded" name="field">
                      <complexType>
                        <sequence>
                          <element name="refinement_edges">
                            <complexType>
                              <sequence>
                                <element minOccurs="0" maxOccurs="unbounded" name="refinement_edge">
                                  <complexType>
                                    <attribute name="refinement_edge_id" type="int" use="required" />
                                    <attribute name="refinement_edge_number" type="int" use="required" />
                                  </complexType>
                                </element>
                              </sequence>
                            </complexType>
                          </element>
                          <element name="refinement_labels">
                            <complexType>
                              <sequence>
                                <element minOccurs="0" maxOccurs="unbounded" name="refinement_label">
                                  <complexType>
                                    <attribute name="refinement_label_id" type="int" use="required" />
                                    <attribute name="refinement_label_number" type="int" use="required" />
                                  </complexType>
                                </element>
                              </sequence>
                            </complexType>
                          </element>
                          <element name="polynomial_orders">
                            <complexType>
                              <sequence>
                                <element minOccurs="0" maxOccurs="unbounded" name="polynomial_order">
                                  <complexType>
                                    <attribute name="polynomial_order_id" type="int" use="required" />
                                    <attribute name="polynomial_order_number" type="int" use="required" />
                                  </complexType>
                                </element>
                              </sequence>
                            </complexType>
                          </element>                                                 
                          <element name="boundaries">
                            <complexType>
                              <sequence>
                                <element name="boundary" minOccurs="0" maxOccurs="unbounded" >
                                <complexType>
                                  <sequence>
                                    <element name="boundary_edges" minOccurs="1" maxOccurs="1">
                                      <complexType>
                                        <sequence>
                                          <element name="boundary_edge" minOccurs="0" maxOccurs="unbounded">
                                            <complexType>
                                              <attribute name="id" type="int" use="required" />
                                            </complexType>
                                          </element>
                                        </sequence>
                                      </complexType>
                                    </element>
                                    <element name="boundary_types" minOccurs="1" maxOccurs="1">
                                      <complexType>
                                        <sequence>
                                          <element name="boundary_type" minOccurs="0" maxOccurs="unbounded">
                                            <complexType>
                                              <attribute name="key" type="string" use="required" />
                                              <attribute name="value" type="string" use="required" />
                                            </complexType>
                                          </element>
                                        </sequence>
                                      </complexType>
                                    </element>
                                  </sequence>
                                  <attribute name="type" type="string" use="required" />
                                  <attribute name="id" type="int" use="required" />
                                  <attribute name="name" type="string" use="required" />
                                </complexType>
                              </element>
                              </sequence>
                            </complexType>
                          </element>
                          <element name="materials">
                          <complexType>
                            <sequence>
                              <element name="material" minOccurs="0" maxOccurs="unbounded" >
                              <complexType>
                                <sequence>
                                  <element name="material_labels" minOccurs="1" maxOccurs="1">
                                    <complexType>
                                      <sequence>
                                        <element name="material_label" minOccurs="0" maxOccurs="unbounded">
                                          <complexType>
                                            <attribute name="id" type="int" use="required" />
                                          </complexType>
                                        </element>
                                      </sequence>
                                    </complexType>
                                  </element>
                                  <element name="material_types" minOccurs="1" maxOccurs="1">
                                    <complexType>
                                      <sequence>
                                        <element name="material_type" minOccurs="0" maxOccurs="unbounded">
                                          <complexType>
                                            <attribute name="key" type="string" use="required" />
                                            <attribute name="value" type="string" use="required" />
                                          </complexType>
                                        </element>
                                      </sequence>
                                    </complexType>
                                  </element>
                                </sequence>
                                <attribute name="id" type="int" use="required" />
                                <attribute name="name" type="string" use="required" />
                              </complexType>
                            </element>
                            </sequence>
                          </complexType>
                          </element>
                          <element name="field_config" maxOccurs="1" minOccurs="1">
							  <complexType>
								<sequence>
								  <element maxOccurs="unbounded" name="field_item">
									<complexType>
									  <attribute name="field_key" type="string" use="required"/>
									  <attribute name="field_value" type="string" use="required"/>
									</complexType>
								  </element>
								</sequence>
							  </complexType>
                          </element>
                        </sequence>
                        <attribute name="field_id" type="string" use="required" />
                        <attribute name="analysis_type" type="string" use="required"/>
                        <attribute name="adaptivity_type" type="string" use="required" />
                        <attribute name="linearity_type" type="string" use="required" />
                        <attribute name="matrix_solver" type="string" use="optional" />
                      </complexType>
                    </element>
                  </sequence>
                </complexType>
              </element>
              <element name="couplings">
                <complexType>
                  <sequence>
                    <element name="coupling" minOccurs="0" maxOccurs="unbounded">
                      <complexType>
                        <attribute name="id" type="string" use="required" />
                        <attribute name="type" type="string" use="required" />
                        <attribute name="source_fieldid" type="string" use="required" />
                        <attribute name="target_fieldid" type="string" use="required" />
                      </complexType>
                    </element>
                  </sequence>
                </complexType>
              </element>
              <element name="problem_config" maxOccurs="1" minOccurs="1">
                  <complexType>
                    <sequence>
                      <element maxOccurs="unbounded" name="problem_item">
                        <complexType>
                          <attribute name="problem_key" type="string" use="required"/>
                          <attribute name="problem_value" type="string" use="required"/>
                        </complexType>
                      </element>
                    </sequence>
                  </complexType>
              </element>
            </all>
            <attribute name="coordinate_type" type="string" use="required"/>
            <attribute name="mesh_type" type="string" use="required" />            
          </complexType>
        </element>
        <element name="config">
          <complexType>
            <sequence>
              <element maxOccurs="unbounded" name="item">
                <complexType>
                  <attribute name="key" type="string" use="required"/>
                  <attribute name="value" type="string" use="required"/>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>
      </all>
      <attribute name="version" type="float" use="required"/>
    </complexType>
  </element>
</schema>
