resources/xsd/problem_a2d_xml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="document">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="geometry">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="nodes">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="node">
                      <xsd:complexType>
                        <xsd:attribute name="x" type="xsd:decimal" />
                        <xsd:attribute name="y" type="xsd:decimal" />
                        <xsd:attribute name="id" type="xsd:int" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="edges">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="edge">
                      <xsd:complexType>
                        <xsd:attribute name="end" type="xsd:int" />
                        <xsd:attribute name="refine_towards" type="xsd:int" />
                        <xsd:attribute name="id" type="xsd:int" />
                        <xsd:attribute name="start" type="xsd:int" />
                        <xsd:attribute name="angle" type="xsd:int" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="labels">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="label">
                      <xsd:complexType>
                        <xsd:attribute name="x" type="xsd:decimal" />
                        <xsd:attribute name="y" type="xsd:decimal" />
                        <xsd:attribute name="polynomialorder" type="xsd:int" />
                        <xsd:attribute name="id" type="xsd:int" />
                        <xsd:attribute name="area" type="xsd:decimal" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="problem">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="startupscript" type="xsd:string" />
              <xsd:element name="description" type="xsd:string" />
              <xsd:element name="fields">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="field">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="adaptivity">
                            <xsd:complexType>
                              <xsd:attribute name="adaptivitytolerance" type="xsd:decimal" />
                              <xsd:attribute name="adaptivitytype" type="xsd:string" />
                              <xsd:attribute name="adaptivitysteps" type="xsd:int" />
                              <xsd:attribute name="maxdofs" type="xsd:int" />
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="solver">
                            <xsd:complexType>
                              <xsd:attribute name="nonlineartolerance" type="xsd:decimal" />
                              <xsd:attribute name="nonlinearsteps" type="xsd:int" />
                              <xsd:attribute name="linearity" type="xsd:string" />
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="boundaries">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="boundary">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element maxOccurs="unbounded" name="edge">
                                        <xsd:complexType>
                                          <xsd:attribute name="edge" type="xsd:int" />
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="type" type="xsd:string" />
                                    <xsd:attribute name="id" type="xsd:int" />
                                    <xsd:attribute name="name" type="xsd:string" />
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="materials">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="material">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element maxOccurs="unbounded" name="label">
                                        <xsd:complexType>
                                          <xsd:attribute name="label" type="xsd:int" />
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="id" type="xsd:int" />
                                    <xsd:attribute name="name" type="xsd:string" />
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="fieldid" type="xsd:string" />
                        <xsd:attribute name="numberofrefinements" type="xsd:int" />
                        <xsd:attribute name="analysistype" type="xsd:string" />
                        <xsd:attribute name="polynomialorder" type="xsd:int" />
                        <xsd:attribute name="weakforms" type="xsd:string" />
                        <xsd:attribute name="initialcondition" type="xsd:decimal" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="coordinatetype" type="xsd:string" />
            <xsd:attribute name="frequency" type="xsd:int" />
            <xsd:attribute name="matrix_solver" type="xsd:string" />
            <xsd:attribute name="timetotal" type="xsd:decimal" />
            <xsd:attribute name="meshtype" type="xsd:string" />
            <xsd:attribute name="timestep" type="xsd:decimal" />
            <xsd:attribute name="name" type="xsd:string" />
            <xsd:attribute name="date" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="version" type="xsd:decimal" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
